# Ignoramos la carpeta config
config/

# Ignoramos todos los ficheros objeto, class de java o exe
*.o
*.class
*.exe
build/

# En la página web https://www.gitignore.io/ se pueden encontrar ficheros
# de ignore que permiten evitar las partes de proyectos en java, android,
# etc para cada uno de estos tipos de proyecto
